<!-- <table class="mx-5 my-5">
    <thead>
      <tr>
        <th>HOLIDAY NAME</th>
        <th>Date</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>New Year</td>
        <td>01-01-2023</td>
        <td>Sunday</td>
      </tr>
      <tr>
        <td>Uttrayan</td>
        <td>14-01-2023</td>
        <td>Saturday</td>
      </tr>
      <tr>
        <td>Republic Day</td>
        <td>26-01-2023</td>
        <td>Thursday</td>
      </tr>
      <tr>
        <td>Dhuleti</td>
        <td>08-03-2023</td>
        <td>Wednesday</td>
      </tr>
      <tr>
        <td>Independence Day</td>
        <td>15-08-2023</td>
        <td>Tuesday</td>
      </tr>
      <tr>
        <td>Gandhi Jayanti</td>
        <td>02-10-2023</td>
        <td>Monday</td>
      </tr>
      <tr>
        <td>Diwali1</td>
        <td>13-11-2023</td>
        <td>Monday</td>
      </tr>
      <tr>
        <td>Diwali2</td>
        <td>14-11-2023</td>
        <td>Tuesday</td>
      </tr>
      <tr>
        <td>Diwali3</td>
        <td>15-11-2023</td>
        <td>Wednesday</td>
      </tr>
    </tbody>
  </table> -->


<h1 class="mx-5 my-4">Religious Holidays in 2023</h1>
<table class="mx-5">
  <tr>
    <th>Holiday</th>
    <th>Date</th>
    <th>Day</th>
    <th>Type</th>
  </tr>
  <tr>
    <td>New Year's Day</td>
    <td>January 1</td>
    <td>Tuesday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Orthodox Christmas Day</td>
    <td>January 7</td>
    <td>Saturday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Epiphany</td>
    <td>January 6</td>
    <td>Friday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Magha Puja Day</td>
    <td>February 11</td>
    <td>Saturday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Maha Shivaratri</td>
    <td>February 23</td>
    <td>Thursday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Purim</td>
    <td>March 11-12</td>
    <td>Saturday-Sunday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Holi</td>
    <td>March 12</td>
    <td>Sunday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Passover</td>
    <td>April 10-18</td>
    <td>Monday-Tuesday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Easter Sunday</td>
    <td>April 16</td>
    <td>Sunday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Ramadan Begins</td>
    <td>April 23</td>
    <td>Sunday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Buddha Day</td>
    <td>May 11</td>
    <td>Thursday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Eid al-Fitr</td>
    <td>May 23-24</td>
    <td>Tuesday-Wednesday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Shavuot</td>
    <td>June 1-2</td>
    <td>Thursday-Friday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Juneteenth</td>
    <td>June 19</td>
    <td>Monday</td>
    <td>Official (USA)</td>
  </tr>
  <tr>
    <td>Yom Kippur</td>
    <td>October 1-2</td>
    <td>Thursday-Friday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Sukkot</td>
    <td>October 6-13</td>
    <td>Tuesday-Tuesday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Dussehra</td>
    <td>October 9</td>
    <td>Sunday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Diwali</td>
    <td>October 26</td>
    <td>Wednesday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Guru Nanak Jayanti</td>
    <td>November 4</td>
    <td>Saturday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Advent Begins</td>
    <td>December 3</td>
    <td>Sunday</td>
    <td>Official</td>
  </tr>
  <tr>
    <td>Chanukah</td>
    <td>December 13-20</td>
    <td>Tuesday-Tuesday</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>Christmas Day</td>
    <td>December 25</td>
    <td>Monday</td>
    <td>Official</td>
  </tr>
  <tr class>
    <td>Boxing Day</td>
    <td>December 26</td>
    <td>Tuesday</td>
    <td>Official</td>
  </tr>
</table>
<br>
<br>
