<div class="container">
    <div class="row">
      <div class="text-left">
        <h1 class="display-1">Leave Structure</h1>
        <p>This leave structure would be effective from January 1st, 2019 onwards.</p>
        
        <h3>Leave with pay:</h3>
        <p>Total 16 a year. These are leaves that are earned by virtue of the time put in at Argusoft over the employment tenure. These can be carried forward and accumulated. 4 such leaves will be added at the beginning of each quarter.</p>
        <p>Planned leaves of 4 or more days must have prior approval of at least 30 days.</p>
        <p>Sick leaves taken for more than 2 days should be supported by Medical Certificate duly attested by Certified Medical Practitioner</p>
        <p>Employees will be permitted to avail leaves during their notice period, however, in such cases, the notice period can be extended.</p>
        
        <h3>Leave without pay:</h3>
        <p>If a person does not have any leave to his/her balance and the situation warrants him/her to take leave, the leave still needs to be approved by the appropriate authority and shall be adjusted against either loss of pay or may be adjusted against future accrual per the discretion of the management.</p>
        
        <h3>Festival & Restricted holidays:</h3>
        <p>In addition to the 9 Festival & National Holidays, announced every calendar year on 1st January of that year, employees are presently entitled for 2 holidays out of the restricted holidays list for every year. The list is drawn up at the local level taking local factors into consideration; an employee is entitled to choose any two in a year out of that list.</p>
        
        <h3>Special Leaves:</h3>
        <p>Special leave may be granted for the below reasons:</p>
        <ul>
          <li>When a staff member wishes to marry for the first time. (With pay up to 7 days)</li>
          <li>Bereavement in the immediate family. (With pay up to 10 days)</li>
          <li>As per the recent Maternity Benefit (Amendment) Act, 2017, women employees will now be able to get paid maternity leave of continuous 26 weeks, up from 12 weeks and also 'Leave for Adoption' of 60 calendar days.</li>
          <li>Paternity leave (With pay up to 5 days)</li>
        </ul>
        
      </div>
    </div>
  </div>
  