<div>
    <div>
        <h1 class="mx-5 my-3    ">CLUB</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chess</h5>
                            <img src="../../assets/chess.jpeg" class="card-img-top" alt="...">
                            <p class="card-text"><br>
                                Chess is a board game for two players.
                                <br>
                                It is played in a square board, made of 64 smaller squares, with eight squares on each
                                side.
                                <br>
                                Each player starts with sixteen pieces: eight pawns, two knights, two bishops, two
                                rooks, one queen and
                                one king.... It ends the game.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Carrom</h5>
                            <img src="../../assets/carrom.jpeg" class="card-img-top" alt="...">
                            <br>
                            <br>
                            <p class="card-text">Carrom (also spelled carom) is a cue sport-based tabletop game of South
                                Asian origin.
                                <br>
                                Carrom is very commonly played by families, including children, and at social functions.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Table Tennis</h5>
                            <img src="../../assets/tt.jpg" class="card-img-top" alt="...">
                            <p class="card-text"> <br>
                                Table tennis, also known as ping-pong, is a sport in which two or four players hit a
                                lightweight ball
                                back and forth across a table using small rackets.
                                <br>
                                The game takes place on a hard table divided by a net.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div>
    <div>
        <h1 class="mx-5 mt-5 mb-3">TOURNAMENTS</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chess</h5>
                            <img src="../../assets/chess2.jpeg" class="card-img-top" alt="...">
                            <p class="card-text">
                                <br><b>Registration starts : </b>March 15, 2023
                                <br><b>Registration ends : </b>March 16, 2023
                                <br><b>Starts on :</b> March 27, 2023
                                <br><b>Ends on :</b> March 31, 2023
                            </p>    
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Carrom</h5>
                            <img src="../../assets/carrom2.jpeg" class="card-img-top" alt="...">
                            <br>
                            <br>
                            <p class="card-text">
                                <br><b>Registration starts : </b>Jun 20, 2023
                                <br><b>Registration ends : </b>Jun 21, 2023
                                <br><b>Starts on :</b> July 7, 2023
                                <br><b>Ends on :</b> July 15, 2023
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>