<div class="company-bg d-flex justify-content-center align-items-center">
  <h1 class="text-white font-weight-bold text-center" style="font-size: 50px">
    Complete End To end Management With Ownership
  </h1>
</div>
<div>
  <div class="main-title">
    <h1 class="text-center m-5 font-weight-bold pink" style="font-size: 45px">
      OUR SERVICES
    </h1>
  </div>

  <br />
  <div style="font-size: 20px" class="d-flex justify-content-center">
    <p class="text-center para">
      We augment client teams with their software development, testing,
      maintenance and support.

      <br />
      <br />

      Our primary focus is Business Automation and SOA system integration,
      leveraging Java, PHP, dotNet and Web 2.0 related technologies.

      <br />
      <br />

      We deliver these services as turnkey projects or through our extended team
      model (mODC - managed Offshore Development Center), providing a completely
      managed team, to ensure continuity and efficiency.
    </p>
  </div>
  <br />
  <br />
  <div>
    <div class="main-title">
      <h1 class="text-center m-5 font-weight-bold pink" style="font-size: 45px">
        OUR APPROACH
      </h1>
    </div>

    <br />
    <div style="font-size: 20px" class="d-flex justify-content-center">
      <div class="position-relative">
        <img src="../../assets/approch.png" alt="Argusoft" class="img-fluid" />
      </div>
    </div>

    <div>
      <div class="main-title">
        <br />
        <h1 class="text-center m-5 font-weight-bold pink" style="font-size: 45px">
          OUR CLIENTS
        </h1>
      </div>

      <br />
      <div style="font-size: 20px" class="d-flex justify-content-center">
        <p class="text-center para">
          We work with clients worldwide with a majority of our clients in the
          <span class="pink">USA </span> and <span class="pink">INDIA</span>
        </p>
        <br />
        <br />
      </div>
      <div style="font-size: 20px" class="d-flex justify-content-center">
        <div class="position-relative">
          <br />
          <img src="../../assets/clients.png" alt="Argusoft" class="img-fluid" />
        </div>
      </div>

      <div>
        <div class="main-title">
          <h1 class="text-center m-5 font-weight-bold pink" style="font-size: 45px">
            ARGONAUTS
          </h1>
        </div>

        <br />
      </div>

    </div>

    <div class="small-image">
        <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.argusoft.com/images/carousel/014.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.argusoft.com/images/carousel/011.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.argusoft.com/images/carousel/02.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.argusoft.com/images/carousel/03.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.argusoft.com/images/carousel/07.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.argusoft.com/images/carousel/09.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon dark-button" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon dark-button" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>
