<div class="container-fluid">

    <div class="row ">
      <div class="col-lg-6 px-5 py-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Projects</h5>
            <button type="button" class="btn me-3" id="button">Add</button>
            <button type="button" class="btn me-3" id="button">History</button>
            <hr>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Technologies</th>
                  <th scope="col">Joining Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Project1</th>
                  <td>Java</td>
                  <td>12/02/2023</td>
                </tr>
                <tr>
                  <th scope="row">Project2</th>
                  <td>Node</td>
                  <td>1/04/2023</td>
                </tr>
                <tr>
                  <th scope="row">Project3</th>
                  <td>Java</td>
                  <td>12/02/2023</td>
                </tr>
                <tr>
                  <th scope="row">Project4</th>
                  <td>Java</td>
                  <td>1/04/2023</td>
                </tr>
                <tr>
                  <th scope="row">Project4</th>
                  <td>Java</td>
                  <td>1/04/2023</td>
                </tr>
                <tr>
                  <th scope="row">Project4</th>
                  <td>Java</td>
                  <td>1/04/2023</td>
                </tr>
                <tr>
                  <th scope="row">Project4</th>
                  <td>Java</td>
                  <td>1/04/2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6 px-5 py-5">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Calender</h3>
              <app-calender-component></app-calender-component>
            </div>
        </div>
      </div>
    </div>
  </div>
  