<div class="d-flex">
  <div class="first m-5">
    <h2 class="m-3"> Unleash your </h2>
    <h1 class="pink m-5"><b>Talent and Grow!</b></h1>
    <h3 class="m-3"> JOIN OUR TEAM </h3>
  </div>
  <div class="mx-5">
    <img src="https://careers.argusoft.com/static/img/img_2.4642564.jpg" class="rounded-circle" alt="loading...">
  </div>
</div>
<br>
<br>

<div class="container my-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title pink">Freshers</h5>
          <img src="https://careers.argusoft.com/static/img/img_1.25c54c6.jpg" class="rounded" alt="loading...">
          <br>
          <ul class="py-3 px-3">
            <li>Training and exponential career growth.</li>
            <li>Flexibility & work-life balance.</li>
            <li>Mentorship from industry experts.</li>
            <li>Compensation & benefits as per industry standards</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title pink">Experienced Professionals</h5>
          <img
            src="https://thumbs.dreamstime.com/b/experienced-professionals-discussing-new-project-to-discuss-business-issues-modern-office-98065693.jpg"
            class="rounded" alt="loading...">
          <ul>
            <li>Opportunities for global project experience.</li>
            <li>Hybrid structure.</li>
            <li>Office visits on occasion for team-bonding, interactions & mentorship opportunities.</li>
            <li>Endless possibilities for career growth.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div>
    <h1 class="pink" style="text-align: center;">Working @ ARGUSOFT</h1>
    <br><br>
    <p class="mx-5 py-2" style="text-align: center; font-size: large ;">Life at Argusoft is a healthy mix of work and
      play, drawing its influences from an 'American style entrepreneurial' work culture.
      <br>
      <br>
      As an Argonaut, you get access to opportunities for career development and mentorship from industry experts. We
      promise a challenging work environment that will draw out the best in you and a friendly atmosphere for holistic
      development.
      <br>
      <br>
      At Argusoft, we recognize that employee happiness is key to keeping our clients happy. Interested? Explore our
      current job openings to see how you can become an Argonaut!</p>
  </div>
  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <!-- <h5 class="card-title">Card 1</h5> -->
           <img src="https://careers.argusoft.com/static/img/argonaut_img02.3ee5509.png">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            
           <img src="https://careers.argusoft.com/static/img/argonaut_img03.1b1b5a5.png">
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <!-- <h5 class="card-title">Card 1</h5> -->
           <img src="https://careers.argusoft.com/static/img/argonaut_img04.0838c07.png">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            
           <img src="https://careers.argusoft.com/static/img/argonaut_img01.094ecc7.png">
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
